---
layout: layouts/page.njk
title: Projects
---

<br>

<div class="grid" style="grid-template-columns: repeat(2, 1fr);">

  {% for project in projects %}

  <article>
    <header>
      <center>
        <h3>  
          <a href="{{project.url}}">
            {{project.name}}
          </a>
        </h3>

        {% if project.img %}
        <img src="{{project.img}}" style="height: 120px; object-fit: contain;"></img>
        {% endif %}
      </center>
    </header>

    <p>
      {{project.desc}}
    </p>
  </article>
  
  {% endfor %}

</div>
