---
layout: layouts/page.njk
title: Projects
---

<br>

<div class="grid">

  {% for project in collections.projects %}

  <article>
    <a href="{{project.url}}">
      <h3>{{project.data.title}}</h3>
    </a>
    <p>
      {{project.data.description}}
    </p>
  </article>
  {% endfor %}

</div>
