---
layout: layouts/page.njk
title: Projects
---

<hr>

<div>
  {% for project in projects %}

  <section>
    <h3 style="margin-bottom: 0px;">
      {%- if project.img -%}
      <img src="{{project.img}}" style="height: 2em; object-fit: contain;"></img>
      {%- endif -%}
      <a href="{{project.url}}" class="card-title">
        {{project.name}}
      </a>
    </h3>
    
    
    <p>
      {{project.desc}}
    </p>

    <hr>
  </section>
  
  {% endfor %}

</div>
