---
layout: layouts/base.njk
---

<p style="margin-bottom: 0;">
  <b><a href="https://siebelschool.illinois.edu/tripplanner" target="_blank">Thomas M. Siebel Center for Computer Science</a></b>
  <br>
  201 N Goodwin Ave
  <br>Urbana, IL
  <br>
  61801
</p>

<figure>
  <a href="/assets/images/4211-map.svg" target="_blank">
    <img
      src="/assets/images/4211-map.svg"
      alt="Map showing the location of room 4211"
      style="width: 100%; height: auto;">
  </a>
</figure>
