---
layout: layouts/base.njk
title: Research
---

<center><h1>Publications</h1></center>

{% include "components/publications.njk" %}

<center><h1>Posters</h1></center>

{% include "components/posters.njk" %}"