---
layout: layouts/base.njk
title: Research
---

<article>

<center><h1>Publications</h1></center>

{% include "components/publications.njk" %}

</article>

<article>

<center><h1>Posters</h1></center>

{% include "components/posters.njk" %}

</article>