---
layout: layouts/base.njk
title: Card Capture
tags: games
---

<h1>{{title}}</h1>

<p>
<a href="https://boardgamegeek.com/boardgame/264566/card-capture" target=_blank>Card Capture</a> is a deck building game played with a standard deck of cards, jokers included.
</p>



<p>
<center>
  <canvas id="canvas"></canvas>
</center>
<script>
  var Module = {
    canvas: document.getElementById('canvas')
  };
</script>
<script defer type="text/javascript" src="/assets/wasm/card-capture.js"></script>
</p>



<h2>Rules</h2>

<p>
Under construction...
</p>