---
layout: layouts/base.njk
---

<article>

<h1><center>Tommy M<sup>c</sup>Michen</center></h1>

<center>
<a href="/cv/cv.pdf" download="mcmichen_tommy_cv.pdf"><button>Download</button></a>
</center>

<br>

<article>
<h2>Education</h2>

{% for edu in education %}
<b>{{edu.institution}}</b>, </i>{{edu.location}}</i>.

  {% for degree in edu.degrees %}
    <br>
    {{degree.degree}} in {{degree.major}}{%- if degree.advisor -%}, <i>Advised by {{degree.advisor}}</i>{%- endif -%}. {{degree.date}}.
  {% endfor %}

  {% if not loop.last %}<hr />{% endif %}

{% endfor %}
</article>

<article>
<h2>Publications</h2>
{% include "components/publications.njk" %}
</article>

<article>
<h2>Talks</h2>
{% for talk in talks | sortByYear | reverse %}
  <hgroup>
    <h5>
      {{talk.title}}
    </h5>

    {%- if talk.links -%}
      {%- if talk.links.pdf -%}
        <a href="{{ talk.links.pdf }}" download>Slides</a>
      {%- endif -%}

      {%- if talk.links.video -%}
        <a href="{{ talk.links.video }}">Video</a>
      {%- endif -%}
    
      <br>
    {%- endif -%}

    {% for venue in talk.venues | sortByYear | reverse %}
      {%- if not loop.first %}<br>{%- endif -%}
      <i>{{venue.series}}</i>
      {%- if venue.location -%}&nbsp;at {{venue.location}}{%- endif -%},
      {{venue.date}}.
    {% endfor %}

    {% if not loop.last %}<hr />{% endif %}
  </hgroup>
{% endfor %}
</article>


<article>
  <h2>Posters</h2>
  {% include "components/posters.njk" %}
</article>


<article>
<h2>Service</h2>
{% for serve in service %}
  <hgroup>
    <h5>{{serve.role}}</h5>
    <small>
      <i>{{serve.org}}</i>,
      {{serve.date}}{% if serve.end %}—{{serve.end}}{% endif %}.
    </small>
  </hgroup>
{% endfor %}
</article>


<article>
<h2>Teaching Experience</h2>
{% for teach in teaching %}

  <hgroup>
    <h5>{{teach.role}}</h5>
    <small>
      <a href="{{ teach.url }}">{{ teach.name }}</a>
      {%- if teach.instructor -%}
        , <i>Instructor: {{ teach.instructor }}</i>
      {%- endif -%}
      .
    </small>
  </hgroup>
  {% if not loop.last %}<hr />{% endif %}
{% endfor %}
</article>

</article>
