---
layout: layouts/base.njk
title: MEMOIR
description: Representing data collections in the compiler for analysis and optimization.
projectName: memoir
---

<article>
  <center>
    <h1>{{title}}</h1>
  </center>

  <article>
    <p>
      MEMOIR is a compiler intermediate representation for data collections (list, set, map).
MEMOIR is in single static assignment (SSA) form, making static analysis both simple and cheap to compute.
By decoupling the logical organization of data from its memory layout, MEMOIR enables the compiler to perform novel memory optimizations.
    </p>
  </article>

  <article>
    <h2>Team Members</h2>
    {% include "components/team.njk" %}
  </article>

  <article>
    <h2>Learn More</h2>
    <p>
      Interested in learning more?
Check out the <a href="https://github.com/arcana-lab/memoir">open-source compiler</a>.
    </p>
  
    <p>
      Want more details?
Check out the <a href="/memoir-docs">getting started guide</a>, or the <a href="/memoir-doxygen">documentation</a>.
    </p>
  </article>

  <article>
    <h2>Publications</h2>
    {% include "components/publications.njk" %}
  </article>

  <article>
    <h2>Posters</h2>
    {% include "components/posters.njk" %}
  </article>

</article>
