---
layout: layouts/base.njk
title: birdbrain
projectName: birdbrain
---

<article>

<center>
<h1>
<img alt="Birdbrain" src="/assets/images/birdbrain-banner.png" width="75%">
</h1>
</center>

<article>
<p>
<b>Birdbrain</b> builds better programming language tools for coding agents.
We develop new experimental methodologies to understand the issues and gaps in current tooling ecosystems.
Informed by these experiments, we tune existing tools for the agentic use case and build new tools to meet the unique needs of coding agents.
</p>
</article>

<article>
<h2>Team Members</h2>
{% include "components/team.njk" %}
</article>

<article>
<h2>Software</h2>
<p>
You can find our software artifacts on <a href="https://github.com/birdbrain-ai">GitHub</a>.
</p>
</article>

<article>
<h2>Publications</h2>
{% include "components/publications.njk" %}
</article>

<article>
<h2>Posters</h2>
{% include "components/posters.njk" %}
</article>

</article>