/* Hyperlinks */
a {
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Artifact badges */
.badge {
    height: 2em;
    width: auto;
}

.badge-container {
    display: flex;
    gap: 0.3em;
    justify-content: left;
    font-size: 1em;
}

/* Blog */
.posts-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-preview {
  padding-bottom: 2rem;
  border-bottom: 1px solid #ddd;
}

.post-preview:last-child {
  border-bottom: none;
}

.post-preview h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.post-meta {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.post-preview p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.read-more {
  color: red;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

/* Prism overrides */
pre[class*="language-"] {
  margin: 1.5rem 0;
  padding: 1rem;
  border-radius: 0.5em;
  border: 1px solid #000000;
  font-size: 0.9em;
}

pre[class*="language-"],
code[class*="language-"] {
  font-size: 0.9em;
}

/* Inline code */
:not(pre) > code {
  padding: 0.1em 0.3em;
  border-radius: 1em;
}

/* Navbar */
.sticky-top {
  position: sticky;
  top: 0;
  background-color: inherit; /* or your preferred background */
  z-index: 100; /* ensures it stays above other content */
}

.sticky-top nav {
  display: flex;
  justify-content: center;
  gap: 2rem; /* spacing between nav items */
}

.nav-item{
  font-size: 1.2em;
  padding: 0 0.5rem;
}

