{% set highlights = [
  "#a0cbe8", "#ffbe7d", "#ff9d9a", "#86bcb6",
  "#8cd17d", "#f1ce63", "#d4a6c8", "#fabfd2"
] %}

{% set navItems = [
  ["Research", "/research/", "blue"],
  ["C/V", "/cv/", "orange"],
  ["Blog", "/posts/", "red"],
  ["MEMOIR", "/projects/memoir/", "green"],
  ["Birdbrain", "/projects/birdbrain/", "pink"]
] %}

<header>
  <nav>
    <ul>
      <li>
        <a href="/">
          <strong>Tommy M<sup>c</sup>Michen</strong>
        </a>
      </li>
    </ul>
    <ul>
      {% for name, link, color in navItems %}
        <li>
          <a href="{{link}}"
             style="--highlight-color: var(--t-{{color}}); --highlight-color-light: var(--t-{{color}}-light);">
            {{name}}
          </a>
        </li>
      {% endfor %}
    </ul>

    </nav>
  </center>
</header>
