<header class="sticky-top">
  <center>
    <nav>
      <a href="/" class="nav-item">Home</a>
      <a href="/research/" class="nav-item">Research</a>
      <a href="/cv/" class="nav-item">C/V</a>
      <!-- <a href="/talks/" class="nav-item">Talks</a> -->
      <!-- <a href="/teaching/" class="nav-item">Teaching</a> -->
      <a href="/posts/" class="nav-item">Blog</a>
    </nav>
  </center>
</header>
