{%- if projectName -%}
  {%- set filteredPosters = [] -%}
  {%- for poster in posters -%}
    {%- if poster.projects and (projectName in poster.projects) -%}
      {%- set filteredPosters = (filteredPosters.push(poster), filteredPosters) -%}
    {%- endif -%}
  {%- endfor -%}
{%- else -%}
  {%- set filteredPosters = posters -%}
{%- endif -%}

{% for poster in filteredPosters | sortByYear %}

<hgroup>
<h5><b>{{poster.title}}</b></h5>
  {{ poster.authors | formatAuthors | safe }}.

  {%- if poster.pdf -%}
  <a href="{{ poster.pdf }}" download>[PDF]</a>
  {%- endif -%}

  {%- for venue in poster.venues | sortByYear | reverse -%}
    <br>
    {%- if venue.url -%}<a href="{{ venue.url }}">{%- endif -%}
    <small>
      <i>{{ venue.location }}</i>, {{ venue.date }}.
    </small>
    {%- if venue.url -%}</a>{%- endif -%}
  {%- endfor -%}
</hgroup>
{% if not loop.last %}<hr />{% endif %}
{% endfor %}
