{%- if projectName -%}
  {%- set filteredPubs = [] -%}
  {%- for pub in publications -%}
    {%- if pub.projects and (projectName in pub.projects) -%}
      {%- set filteredPubs = (filteredPubs.push(pub), filteredPubs) -%}
    {%- endif -%}
  {%- endfor -%}
{%- else -%}
  {%- set filteredPubs = publications -%}
{%- endif -%}

{% for pub in filteredPubs | sortByYear %}
<hgroup>
<h5><b>{{pub.title}}</b></h5>

<div class="badge-container">
<a href="{{ pub.venue.link }}">
  <i>
    {{ pub.venue.abbr }} {{ pub.year }}
  </i>
</a>
{% if pub.pdf %} | <a href="{{ pub.pdf }}" download>PDF</a>{% endif %}
{% if pub.doi %} | <a href="https://doi.org/{{pub.doi}}">DOI</a>{% endif %}
{%- if pub.artifact -%}
|
<div class="badges">
{%- for badge in pub.artifact.badges -%}
<img src="/assets/images/{{ badge }}.svg" alt="{{ badge }}" class="badge">
{%- endfor -%}
</div>
{%- endif -%}
</div>
{{ pub.authors | formatAuthors | safe }}.
</hgroup>
{% if not loop.last %}<hr />{% endif %}
{% endfor %}
