---
layout: layouts/base.njk
title: Blog
eleventyExcludeFromCollections: true
---

<article>
  <center>
    <hgroup>
      <h1>
        Blog
      </h1>
  
      <p>
        <a href="/feed.xml">
          Follow the RSS Feed.
        </a>
      </p>
    </hgroup>
  </center>

  <article>
    <div class="posts-list">
        {%- for post in collections.publishedPosts -%}
        <div class="post-item">
          <span class="post-title">
            <a href="{{ post.url }}" class="post-title">
              <b>{{ post.data.title }}</b>
            </a>
          </span>
          <span class="post-date">
            <small>
              <time datetime="{{ post.date | dateFormat("yyyy-MM-dd") }}">
                {{ post.date | dateFormat("MMMM d, yyyy") }}
              </time>
            </small>
          </span>
        </div>
        {%- if not loop.last -%}<hr />{%- endif -%}
        {%- endfor -%}
    </div>
  </article>
</article>
