---
layout: layouts/page.njk
title: Blog
eleventyExcludeFromCollections: true
---

<div class="posts-list">
  <ul>
    {% for post in collections.publishedPosts %}

    <div class="post-item">
      <a href="{{ post.url }}" class="post-title">
        {{ post.data.title }}
      </a>
      <span class="post-date">
        <time datetime="{{ post.date | dateFormat("yyyy-MM-dd") }}">
          {{ post.date | dateFormat("MMMM d, yyyy") }}
        </time>
      </span>
    </div>

    {% endfor %}
  </ul>
</div>

