<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} - {% endif %}{{ site.name }}</title>

  <!-- LaTeX.css -->
  <link rel="stylesheet" href="/assets/css/latex.css/style.css">
  
  <!-- prism -->
  <link rel="stylesheet" href="/assets/css/prismjs/prism.css">

  <!-- MathJax -->
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      }
    };
  </script>

  <!-- Customizations -->
  <link rel="stylesheet" href="/assets/css/custom.css">
  
  <!-- RSS Feed -->
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml">
  
</head>
<body class="libertinus">

  {% include "components/header.njk" %}

  <main>
    {{ content | safe }}
  </main>

</body>
</html>
