<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} - {% endif %}{{ site.name }}</title>
  <link rel="stylesheet" href="/assets/css/latex.css/style.css">

  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <!-- Basic theme -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.css">  
  <link rel="stylesheet" href="/assets/css/custom.css">

  <!-- RSS Feed -->
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml">
  
</head>
<body class="libertinus">

  {% include "components/header.njk" %}

  <main>
    {{ content | safe }}
  </main>

</body>
</html>
